.navbar{
    
    height: 70px;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
     align-items: center;
     justify-content: space-between;
    
     .left{
         font-size: 2em;
         font-weight: 800;
         padding-left: 10px;
     }
     .right{
         margin-right: 20px;
         .hamburger{
             width: 32px;
             height: 25px;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             cursor: pointer;
             span{
                 width: 50%;
                 height: 3px;
                 background-color: lime;
                 

                
                 
             }
             .line1{
                 margin-left: 10px;
             }
             .line2{
                margin-left: 5px;
            }
         }
     }
     
}